<!DOCTYPE html>
<html>
  <head>
    <title>WordAT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="deny" />    

    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
    <script src="/javascripts/cookie.js"></script> 
    <script src="/javascripts/login.js"></script> 
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ac68d7a452.js" crossorigin="anonymous"></script>    

    <link rel="stylesheet" href="/stylesheets/style.css">        
    <script src="/javascripts/index_basic.js"></script>    
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1092619034576489"
     crossorigin="anonymous"></script>
    
  </head>

  <body>
    
<!-- 
  1. nav bar
  2. main body
   2-1. mainbox_center
    - #Upper_search_container
    - .searchbar
     f. addword_click() => modal1_openbtn_click()
    - .searchResult

   2-2-1. second_1box_center
   2-2-2. second_2box_center
   2-2-3. second_3box_center
  3. foot bar

 -->
 
 <!-- <div id="g_id_onload" data-client_id="53798976072-32cc457i8sr4megufkabg0tco8770btq.apps.googleusercontent.com" data-callback="handleCredentialResponse" data-login_uri="http://localhost:3000" data-auto_prompt="true"></div> -->

    <!-- 1. nav bar -->
  
    <div class="navbar shadow-sm" id="navbar">
      <div class="navbar_logo">        
        <i class="fa-solid fa-tree text_green ft5 ftbb"></i>
        <a href="/"> <span class="ft5 ftb"> WordAT </span> </a>
      </div>
      <div class="navbar_menu">
      </div>
      <div class="navbar_icon">        
        <div class="user_image animate__animated" id="user_image" onclick="zoomin(this); open_loginbar();">
          <i class="fa-solid fa-user ft3" id="user_icon"></i> 
          <!-- <i class="fa-solid fa-user"></i>        -->
        </div>        
      </div>
    </div>       
    
    <!-- 2. main body -->
    <div class="mainbody" id="mainbody"> 
      
      <!-- mainbox_center -->
      <div class="container-fluid mainbox_center animate__animated" id="mainbox_center" style="display:block">

        <div id="Upper_search_container" class="shadow-lg">
          <div class="mainbody_layer animate__animated" id="mainbody_layer" style="display:none;" onclick="close_main_layer(this);"> 
            <div class="mainbody_layer_contents" id="mainbody_layer_contents">              
            </div>
          </div>
          <div id="Upper_carousel" class="carousel slide" style="display: block;" data-bs-touch="false">
            <div class="carousel-indicators" style="margin-bottom:0rem;">
              <button type="button" style="background-color: cornsilk;" id="carousel_btn1" data-bs-target="#Upper_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" style="background-color: cornsilk;" id="carousel_btn2" data-bs-target="#Upper_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" style="background-color: cornsilk;" id="carousel_btn3" data-bs-target="#Upper_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" style="background-color: cornsilk;" id="carousel_btn4" data-bs-target="#Upper_carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" style="background-color: cornsilk;" id="carousel_btn5" data-bs-target="#Upper_carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" id="carousel_contents">
              <div class="carousel-item" id="contents_wordbook">                
                <div id="today_short_quiz">                  
                  <div id="ts_quiz_title"><span class="ft5 ftbb text_green ft_underbar">기억하시나요? 이 표현들.</span></div>
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1092619034576489"
                      crossorigin="anonymous"></script>
                  <ins class="adsbygoogle"
                      style="display:block"
                      data-ad-format="fluid"
                      data-ad-layout-key="-hz-6-f-62+fy"
                      data-ad-client="ca-pub-1092619034576489"
                      data-ad-slot="2390361632"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  <div id="ts_quiz_wrap">
                    <div id="ts_quiz_kor"><span class="ft6 ftb"></span></div>
                    <div id="ts_quiz_eng"><span class="ft6 ftb"></span></div>
                  </div>                  
                  <div id="quiz_answer_line">
                    <div id="quiz_chg_btn" class="animate__animated" onclick="touch_icon_action(this); testquiz(1);"><i class="fa-solid fa-shuffle ft5 ftbb text_red"></i></div>                                    
                  </div>                    
                </div>
              </div>
              <div class="carousel-item active" id="contents_start">            
                <div class="blank_sheet" style="overflow-x: hidden;">
                  <img src="/images/d0816c16-985f-4844-a233-f443fb91abf8.png" style="width:100%; height:100%; object-fit:cover;">                   
                  
                </div>
              </div>
              <div class="carousel-item" id="contents_cartoon">            
                <div class="blank_sheet">
                  <div class="cartoon_box_title"><span class="ft3 ftbb">Today's Cartoon</span></div>
                  <div class="cartoon_box_link"><span class="ft9 text_gray">see more at </span><img src="/images/GoComics_Logo.webp" style="width:5rem" onclick="window.open('https://www.gocomics.com/')"></div>
                  <div class="today_cartoon" id="today_cartoon">                                                           
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5nLqa4.json"  background="transparent"  speed="1"  style="width: 30%; margin : auto;"  loop  autoplay></lottie-player>

                  </div>
                </div>
              </div>
              <div class="carousel-item" id="contents_paper">              
                <div class="blank_sheet">
                  <div class="paper_box_title"><span class="ft3 ftbb">Today's Paper</span></div>
                  <div class="paper_box_link">
                    <span class="ft9 text_gray">see more at </span>
                    <img src="/images/MendelNewThistleLogo.webp" style="width:7rem; background-color: #071c2e; padding : 0.2rem 0.1rem 0.3rem 0.1rem; margin-right:0.3rem; border-radius: 4px;" onclick="window.open('https://www.britannica.com/')">
                    <img src="/images/Urban_Dictionary_logo.svg.png" style="width:5rem; border-radius:4px; margin-right:0.3rem;" onclick="window.open('https://www.urbandictionary.com/')">
                    <img src="/images/Goodreads_logo_-_SuperTinyIcons.svg.png" style="width:1.7rem; margin-right:0.3rem;" onclick="window.open('https://www.goodreads.com/')">
                  </div>
                  <div class="today_paper" id="today_paper">   
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5nLqa4.json"  background="transparent"  speed="1"  style="width: 30%; margin : auto;"  loop  autoplay></lottie-player>

                  </div>
                </div>
              </div> 
              <div class="carousel-item" id="contents_ebook">              
                <div class="blank_sheet">
                  <div class="ebook_box_title"><span class="ft3 ftbb">EBooks</span></div>
                  <div class="ebook_box_link">
                    <span class="ft9 text_gray">see more at </span>
                    <img src="/images/Project-Gutenberg-logo.png" style="width:5rem; margin-right:0.3rem; border-radius: 4px;" onclick="window.open('https://www.gutenberg.org/')">                    
                  </div>
                  <div class="today_ebook" id="today_ebook">                    
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5nLqa4.json"  background="transparent"  speed="1"  style="width: 30%; margin : auto;"  loop  autoplay></lottie-player>

                  </div>
                </div>
              </div> 
            </div>
            <div class="carousel-btn-line" id="carousel-btn-line">
              <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#Upper_carousel" data-bs-slide="prev" style="display: none;">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#Upper_carousel" data-bs-slide="next" style="display: none;">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>          
        </div>
        
        <div class="searchbar shadow-lg animate__animated" id="searchbar" style="display:none;">
          <div class="searchbar_main">
            <div id="main_search_input_layer">
              <textarea class="autosize ft8" id="main_search_input" placeholder="Search a Sentence" required onfocus="footbar_dis();" onblur= "late_footbar_vis();" onclick="resize(this);" onkeydown="resize(this);" onkeyup="resize(this);"></textarea>
              <div id="msi_icon_x"><i class="fa-solid fa-xmark text_red animate__animated"  onclick="clear_input('mainbox_center');touch_icon_action(this);"></i></div>
            </div>            
            <div id="msi_icon_trans"><i class="fa-solid fa-language text_green animate__animated" onclick="touch_icon_action(this); tranbtn_click('mainbox_center');"></i></div>
          </div>
          <div class="searchbar_items">          
            <a id="msi_link_yarn" href="https://getyarn.io/" target="_blank"><img class="animate__animated border-round" src="/images/icon_yarn.webp" width="30" height="30" onclick="touch_icon_action(this);"/></a>
            <a id="msi_link_youglish" href="https://youglish.com/" target="_blank"> <img class="animate__animated border-round" src="/images/icon_youglish.jpg" width="60" height="30" onclick="touch_icon_action(this);"/></a>
            <a id="msi_link_google" href="https://www.google.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_google.png" width="30" height="30" onclick="touch_icon_action(this);"/></a>          
            <i id="msi_play_btn" class="tts fa-solid fa-play text_red animate__animated" onclick="touch_icon_action(this); tts_pos('mainbox_center', 1);" ></i>          
            <i class="fa-solid fa-square-plus text_red animate__animated " onclick="touch_icon_action(this); modal1_openbtn_click('mainbox_center');"></i>                                  
          </div>  
          <!-- <div style="height:100px; width:100%; display:block;"> 
            <button onclick="testquiz();">quiz</button>
            <p id="quiz_sentence" class="ft5 ftbb"></p>
          </div>         -->
        
          <div class="searchResult shadow-sm animate__animated" style="display: none" id="Sres_view" >        
            <div class="Sres_view" name="Sres_view">
              <ul>
                <li class="Sres_ENG" >
                    <p id="Sres_ENG" class="ft8 ftbb text_red"></p>
                </li>
                <li class="Sres_KOR">
                    <p id="Sres_KOR" class="ft8 ftb text_green"></p>
                </li>
                    <li class="Sres_WORD">
                <p id="Sres_WORD" class="ft8"> </p>
                    </li>
                <li class="Sres_option">            
                  
                </li>          
              </ul>
            </div>              
          </div>        
        </div>

        <div id="test_place">                    
          
        </div>
    </div>
        
      <!-- second_1box_center :my wordbook  -->
    <div class="container-fluid second_1box_center animate__animated" id="second_1box_center" style="display:none;">
      <div class="wordbook_headline">
        <div class="title" onclick="s1_box_click();"><span class="ft5 ftb"> My wordbook </span></div>                  
      </div>
      <div class="contents animate__animated" id="second_1box_contents">
        <div id="wordbook_list" class="wordbook_list">
          
        </div>
      </div>
      <div id="second_1box_bottom_line" style="position:absolute; bottom:1.5rem; width:100%; text-align:center; " onclick="document.getElementById('call_wim_add_modal').click();">
        <span class="ft_noto ft7 text_red shadow-sm animate__animated animate__flash" style="padding : 1rem; border-radius : 10%; background-color:#fff8dc50;" onclick="zoomin(this);"> 새로운 단어장을 추가해보세요. </span>
      </div>
      
    </div>
      
    

      <!-- second_2box_center : 단어장 -->
    <div class="container-fluid second_2box_center animate__animated" id="second_2box_center" style="display:none;">
      <div class="wordlist_headline" id="wordlist_headline">
        <div class="title" id="s2_wordbook_title" onclick="s2_box_click();"><span class="ft6 ftb text_pink"> Wordlist_Name </span></div>                
      </div>
      <div class="contents" id="second_2box_contents">
        <div id="wordlist_list" class="wordlist_list">
          <!-- example start -->                                        
        </div>
      </div> 
      
    </div>
  <!-- Second-2box-center end -->


      <!-- Second_3box_center starts -->
    <div class="container-fluid second_3box_center animate__animated" id="second_3box_center" style="display:none;">
      <div class="word_headline" id="word_headline">
        <div class="title"><span class="ft6 ftb "> Phrase study </span></div>         
      </div>          
      <div class="contents" id="second_3box_contents">
        <div class="word_view">
          <div class="word_view_1" id="word_view1">
          </div>              
          <div class="word_view_2">
            <span id="example_json" style="display:none;"></span>
            <div class="collapse word_view_collapse ft9" id="word_view_collapse">                  
              <ul id="example_list">                    
              </ul>
            </div>
          </div>
        </div>
      </div>      
      <div class="word_toolbar shadow-sm" id="word_toolbar" style="display:none;">              
        <div class="word_toolbar_main shadow-sm">
          <div class="word_toolbar_input_layer">
            <textarea class="autosize ft8" id="word_toolbar_input" placeholder="Search a Sentence" required onfocus="footbar_dis();" onblur= "late_footbar_vis();" onclick="resize(this);" onkeydown="resize(this);" onkeyup="resize(this);"></textarea>
            <div id="word_toolbar_input_icon_x"><i class="fa-solid fa-xmark text_red animate__animated"  onclick="clear_input('second_3box_center');touch_icon_action(this);"></i></div>
          </div>          
          <div id="word_toolbar_icon_trans"><i class="fa-solid fa-language text_green animate__animated" onclick="touch_icon_action(this); tranbtn_click('second_3box_center');"></i></div>                
        </div>
        <div class="word_toolbar_items" >          
          <a id="word_toolbar_link_yarn" href="https://getyarn.io/" target="_blank" ><img class="animate__animated border-round" src="/images/icon_yarn.webp" width="30" height="30" onclick="touch_icon_action(this);"/></a>
          <a id="word_toolbar_link_youglish" href="https://youglish.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_youglish.jpg" width="60" height="30" onclick="touch_icon_action(this);"/></a>
          <a id="word_toolbar_link_google" href="https://www.google.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_google.png" width="30" height="30" onclick="touch_icon_action(this);"/></a>                
          <i id="word_toolbar_play_btn" class="tts fa-solid fa-play text_red animate__animated" onclick="touch_icon_action(this); tts_pos('second_3box_center', 1);"></i>
          <i class="fa-solid fa-square-plus text_red animate__animated " onclick="touch_icon_action(this); modal1_openbtn_click('second_3box_center');"></i>                        
        </div>
        <div class="word_toolbar_result shadow-sm animate__animated" style="display: none" id="word_toolbar_result" >        
          <div class="word_toolbar_result_view" name="word_toolbar_result_view">
            <ul>
              <li class="wtrv_ENG" >
                  <p id="wtrv_ENG" class="ft8 ftbb text_red"></p>
              </li>
              <li class="wtrv_KOR">
                  <p id="wtrv_KOR" class="ft8 ftb text_green"></p>
              </li>
                  <li class="wtrv_WORD">
              <p id="wtrv_WORD" class="ft8"> </p>
                  </li>
              <li class="wtrv_option">            
                  </li>          
            </ul>
          </div>              
        </div>  
      </div>
      
    </div>   

    <!-- third_1box_center -->
    <div class="container-fluid third_1box_center animate__animated" id="third_1box_center" style="display:none;">
      <div class="t1_mainbox shadow-lg" id="t1_mainbox">
        <div class="ebook_headline" id="ebook_headline">
          <div class="title" id="t1_ebook_title"><span class="ft6 ftb text_pink">  </span></div>                
        </div>
        <div class="contents" id="third_1box_contents">
          <lottie-player id="ebook_lottie" src="https://assets4.lottiefiles.com/private_files/lf30_P60IO4.json" background="transparent"  speed="1"  style="width: 50%; margin : auto;"  loop  autoplay></lottie-player>
          <div id="div_linked_ebook" style="display:none;">
            <iframe id="linked_ebook" onload="onload_ebook();" src="#" seamless ></iframe>
          </div>

        </div>
      </div>  
      <div class="t1_box_searchbar shadow-lg animate__animated" id="t1_box_searchbar" style="display:none;">
        <div class="searchbar_main">
          <div class="t1_box_main_search_input_layer">
            <textarea class="autosize ft8" id="t1_box_main_search_input" placeholder="Search a Sentence" required onfocus="footbar_dis();" onblur= "late_footbar_vis();" onclick="resize(this);" onkeydown="resize(this);" onkeyup="resize(this);"></textarea>
            <div id="t1_box_msi_icon_x"><i class="fa-solid fa-xmark text_red animate__animated"  onclick="clear_input('third_1box_center');touch_icon_action(this);"></i></div>
          </div>          
          <div id="t1_box_msi_icon_trans"><i class="fa-solid fa-language text_green animate__animated" onclick="touch_icon_action(this); tranbtn_click('third_1box_center');"></i></div>
        </div>
        <div class="searchbar_items">          
          <a id="t1_box_msi_link_yarn" href="https://getyarn.io/" target="_blank"><img class="animate__animated border-round" src="/images/icon_yarn.webp" width="30" height="30" onclick="touch_icon_action(this);"/></a>
          <a id="t1_box_msi_link_youglish" href="https://youglish.com/" target="_blank"> <img class="animate__animated border-round" src="/images/icon_youglish.jpg" width="60" height="30" onclick="touch_icon_action(this);"/></a>
          <a id="t1_box_msi_link_google" href="https://www.google.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_google.png" width="30" height="30" onclick="touch_icon_action(this);"/></a>          
          <i id="t1_box_msi_play_btn" class="tts fa-solid fa-play text_red animate__animated" onclick="touch_icon_action(this); tts_pos('third_1box_center', 1);" ></i>          
          <i class="fa-solid fa-square-plus text_red animate__animated " onclick="touch_icon_action(this); modal1_openbtn_click('third_1box_center');"></i>                    
        </div>  
        <div class="searchResult shadow-sm animate__animated" style="display: none" id="t1_box_Sres_view" >        
          <div class="Sres_view" name="t1_box_Sres_view">
            <ul>
              <li class="Sres_ENG" >
                  <p id="t1_box_Sres_ENG" class="ft8 ftbb text_red"></p>
              </li>
              <li class="Sres_KOR">
                  <p id="t1_box_Sres_KOR" class="ft8 ftb text_green"></p>
              </li>
              <li class="Sres_WORD">
                <p id="t1_box_Sres_WORD" class="ft8"> </p>
              </li>
              <li class="Sres_option">            
                
              </li>          
            </ul>
          </div>              
        </div>        
      </div>   
    </div>
    
    <!-- login_layer -->
    <div class="container-fluid login_layer shadow-sm animate__animated" id="login_layer" style="display : none;">      
      
    </div>    

    <div class="container-fluid quiz_layer shadow-sm animate__animated" id="quiz_layer" style="display : none;">      
      
    </div>    

    <!-- loading_layer -->
    <div class="container-fluid loading_layer animate__animated" id="loading_layer">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5nLqa4.json"  background="transparent"  speed="1"  style="width: 30%; margin : auto;"  loop  autoplay></lottie-player>
    </div>

    <!-- layer -->
    
  </div>      
  
<!-- foot bar -->

  <div class="footbar animate__animated" id="footbar">
    <div class="footbar_menu animate__animated" onclick="click_footbar(this, 1); wordbook_close(); third_1box_close(); login_layer_close();">      
      <ul>
        <li><i class="fa-solid fa-house ft7 ftbb text_whiteoutline"></i></li>
        <li><span class="ft10"> Home </span></li>
      </ul>      
    </div>        
    <div class="footbar_menu animate__animated" id="footbar_2" onclick="click_footbar(this, 2); wordbook_reading('initial'); third_1box_close(); login_layer_close();">        
      <ul>
        <li><i class="fa-solid fa-book-open ft7 ftbb text_whiteoutline"></i></li>
        <li><span class="ft10"> Wordbook </span></li>
      </ul>
    </div>
    <div class="footbar_menu animate__animated" onclick="click_footbar(this, 3);">
      <ul>
        <li><i class="fa-solid fa-star ft7 ftbb text_red text_whiteoutline" id="footbar_star"></i></li>
        <li><span class="ft10"> Search </span></li>
      </ul>             
    </div>
    <div class="footbar_menu animate__animated" onclick="click_footbar(this, 4); wordbook_close(); third_1box_close();">
      <ul>
        <li><i class="fa-solid fa-q ft7 ftbb text_whiteoutline"></i></li>
        <li><span class="ft10"> Quiz </span></li>
      </ul>             
    </div>
    <div class="footbar_menu animate__animated">
      <ul>
        <li><i class="fa-solid fa-arrow-rotate-left ft7 ftbb text_whiteoutline" onclick="click_footbar(this, 5);"></i></li>
        <li><span class="ft10"> Back </span></li>
      </ul>
    </div>
  </div>

<!-- 
*******modal***********

1. input modal
  1-1. word input modal

  entire modal
    #home_add_modal => #word_input_modal
  dropdown btn
    #dropdown_button => #wim_dropdown_btn
  dropdown list
    #addword_dropdown_wordbook => #wim_dropdown_wordbook
  inputs
    #word_english, #mainmodal_add_word_eng => #wim_input_eng
    #word_korean, #mainmodal_add_word_kor => #wim_input_kor
  function
    mainmodal_add_word() => wim_submit_btn_click();
-->
<!-- class="ft_noto ft5 ftbb text_red" style="padding : 0.5rem 1rem 0.5rem 1rem;" -->

<!-- 1-1. word input modal -->
<button type="button" id="call_wim_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#word_input_modal" style="display:none;"></button>
<div id="word_input_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius : 10px;">
      <div class="modal-header" style="border:none;">
        <div class="row" style="display:block;">          
          <span class="ft_noto ft5 ftbb text_red" id="wim_title">Add words to the wordbook</span>          
          <button type="button" class="btn-close" style="float:right; padding:2rem;" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row" id="toggle_row" >
          <div class="dropdown" >                      
            <button id="wim_dropdown_btn" class="btn dropdown-toggle bg_firebrick text_white ft8" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button> 
            <span id="pre_selected_wordbook" style="display:none;"></span>
            <ul class="dropdown-menu" id="wim_dropdown_wordbook" style="height:13rem; overflow-y:scroll;">
              <li><a class="dropdown-item ft8" href="#">Action</a></li>
              <li><a class="dropdown-item ft8" href="#">Another action</a></li>
              <li><a class="dropdown-item ft8" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>                    
      </div>                                  
      <div class="modal-body" style="border:none;">                                          
        <div class="input-group mb-3">
          <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > ENG </span>
          <input type="text" id="wim_input_eng" class="form-control ft8" placeholder="Input a English Sentence" aria-label="Username" aria-describedby="basic-addon1" > 
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1"> KOR </span>
          <input type="text" id="wim_input_kor" class="form-control ft8" placeholder="Input it's meaning" aria-label="Username" aria-describedby="basic-addon1">
        </div>                                      
        <div class="modal-footer" style="border:none;">                        
          <button id="wim_sumbit_btn" type="submit" class="btn bg_firebrick bg-gradient text_cornsilk ft8 ftbb" data-bs-dismiss="modal" onclick="wim_submit_btn_click();"> ADD </button>
          <button id="wim_cancel_btn" type="button" class="btn btn-secondary bg-gradient ft8 ftbb" data-bs-dismiss="modal"> CLOSE </button>                        
        </div>                    
      </div>                
    </div>
  </div>
</div> 
<!-- 1-2. word input modal(type2) -->
<button type="button" id="call_wim_add_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#wordbook_add_modal" style="display:none;"></button>
<div id="wordbook_add_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius : 10px;">
      <div class="modal-header" style="border:none;">                
        <span class="ft_noto ft5 ftbb text_red">Add wordbook</span>
        <button type="button" class="btn-close" style="float:right; padding:2rem;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>                                                                               
      <div class="modal-body" style="border:none;">                                          
        <div class="input-group mb-3" style="margin-bottom : 0.5rem">
          <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > TITLE </span>
          <input type="text" name="add_wordbook_title" id="add_wordbook_title" class="form-control ft8" placeholder="Input a Wordbook Title">                    
        </div>
        <div class="input-group mb-3" style="margin-bottom : 2rem">
          <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > #TAG </span>
          <input type="text" name="add_wordbook_title" id="add_wordbook_hashtag" class="form-control ft8" placeholder="Input a It's Comment">                    
        </div>                        
        <div class="input-group mb-3">
          <span class="ft10 ft_noto" id="wordbook_input_exp" style="margin-left : 1rem;"></span>
        </div>              
        <div class="modal-footer" style="border:none;">                        
          <button type="submit" id="wordbook_input_btn" class="btn bg_firebrick bg-gradient text_cornsilk ft8 ftbb" data-bs-dismiss="" style="background-color: firebrick ! Important; color : cornsilk ! Important;"> ADD </button>
          <button type="button" class="btn btn-secondary bg-gradient ft8 ftbb" data-bs-dismiss="modal"> CLOSE </button>                        
        </div>                    
      </div>                
    </div>
  </div> 
</div>
<!-- 1-3 edit modal -->
<button type="button" id="call_edit_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_modal" style="display:none;"></button>
<div id="edit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border-radius : 10px;">
          <div class="modal-header" style="border:none;">                
              <span class="ft_noto ft5 ftbb text_red" id="edit_modal_title">Edit wordbook</span>
              <button type="button" class="btn-close" style="float:right; padding:2rem;" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body" style="border:none;">                                                              
                  <div class="input-group mb-3" id="edit_wb_title_div" style="display : none; margin-bottom : 0.5rem;">
                      <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > TITLE </span>
                      <input type="text" name="edit_wordbook_title" id="edit_wb_title_text" class="form-control ft8" placeholder="Input a Wordbook Title">                                
                  </div>
                  <div class="input-group mb-3" id="edit_wb_hashtag_div" style="display : none; margin-bottom : 0.2rem">
                    <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > #TAG </span>
                    <input type="text" name="edit_wordbook_title" id="edit_wb_hashtag_text" class="form-control ft8" placeholder="Input a It's Comment">                                
                  </div>
                  <div class="input-group mb-3">
                    <span class="ft10 ft_noto" id="edit_wb_input_exp" style="margin-left : 1rem;"></span>
                  </div>              
                  <div class="input-group mb-3" id="edit_wd_eng_div" style="display : none;">
                      <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > ENG </span>
                      <input type="text" name="edit_wordbook_title" id="edit_wd_eng_text" class="form-control ft8" placeholder="Input a English Sentence">                                
                  </div>
                  <div class="input-group mb-3" id="edit_wd_kor_div" style="display : none;">
                      <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > KOR </span>
                      <input type="text" name="edit_wordbook_title" id="edit_wd_kor_text" class="form-control ft8" placeholder="Input it's meaning">                                
                  </div>
                  <div class="input-group mb-3" id="edit_ex_eng_div" style="display : none;">
                      <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > ENG </span>
                      <input type="text" name="edit_wordbook_title" id="edit_ex_eng_text" class="form-control ft8" placeholder="Input a English Sentence">                                
                  </div>                        
                  <div class="input-group mb-3" id="edit_ex_kor_div" style="display : none;">
                      <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > KOR </span>
                      <input type="text" name="edit_wordbook_title" id="edit_ex_kor_text" class="form-control ft8" placeholder="Input it's meaning">                                
                  </div>                                            
                  <div class="modal-footer" style="border:none;">                        
                      <button type="submit" class="btn bg_firebrick bg-gradient text_cornsilk ft8 ftbb" id="edit_btn" data-bs-dismiss="modal" style="background-color: firebrick ! Important; color : cornsilk ! Important;" onclick=""> CONFIRM </button>
                      <span style="display:none;" id="edit_btn_hidden"></span>
                      <button type="button" class="btn btn-secondary bg-gradient ft8 ftbb" data-bs-dismiss="modal"> CLOSE </button>                        
                  </div>                    
              </div>                
          </div>
      </div> 
  </div>
</div>    
                                                                                                       


<!-- 2-1 Remove confirm modal -->
<button type="button" id="call_remove_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#remove_confirm" style="display:none;"></button>
<div id="remove_confirm" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius : 10px;">                              
      <div class="modal-body" id="confirm_text" style="word-break: break-all;">
        <span class="ft5 ftbb">정말 삭제하시겠습니까?</span>
      </div>
      <div class="modal-footer" style="border:none;">
        <button id="remove_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="remove_modal1_openbtn_click();">CONFIRM</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                                
      </div>
    </div>
  </div>
</div>

<!-- 2-2 탈퇴 confirm modal -->
<div id="unsub_confirm" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius : 10px;">                              
      <div class="modal-body">
        <p style="border-radius: 10px; padding : 0.5rem 1rem 0.5rem 1rem; background-color: #b22222; color:white;"><span id="unsub_confirm_text" class="ft5 ftbb ft_noto">WordAT에서 탈퇴합니다.</span></p>
        <p style="margin-left : 1.5rem; margin-right : 1.5rem; text-align: justify;"><span class="ft8 ft_underbar ft_noto">서버에 저장된 카카오톡 회원식별번호 및 단어장 모두 삭제됩니다.</span></p>
      </div>
      <div class="modal-footer" style="border:none;">
        <button id="unsub_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="unsub();">CONFIRM</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                                
      </div>
    </div>
  </div>
</div>


<!-- 3-1. 알림 alert modal -->
<button type="button" id="call_info_alert_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#info_alert_modal" style="display:none;"></button>
<div id="info_alert_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius : 10px;">            
      <div class="modal-body">
        <p id="info_alert_contents_title" class="ft_noto ft5 ftbb text_red" style="padding : 0.5rem 1rem 0.5rem 1rem;">          
        </p>        
        <p class="ft_noto ft8 ft" style="margin-left : 1.5rem; margin-right : 1.5rem; text-align: justify;">
          <span id="info_alert_contents_explain" class="ft8 ft_noto"></span></p>
        </p>
      </div>
      <div class="modal-footer">
        <button id="info_alert_btn" type="button" class="btn bg-success ft_noto ft8 ft text_white" data-bs-dismiss="modal">CONFIRM</button>      
      </div>
    </div>
  </div>
</div>


  <!-- script -->

  
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  <script src="https://unpkg.com/compromise"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>  
  
  <!-- <script src="/javascripts/cookie.js"></script>  -->

  <script src="/javascripts/index_function.js"></script> 
  <script src="/javascripts/modal.js"></script> 
  <script src="/javascripts/wordbook.js"></script> 
  <script src="/javascripts/open_close.js"></script> 
  <script src="/javascripts/quiz.js"></script> 
  <script src="/javascripts/tts.js"></script> 
  <script src="/javascripts/trans.js"></script> 
  <script src="/javascripts/contents.js"></script> 
  
  
  
  
  
   

  
  
    
    
    

    
  </body>

</html>
