<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="deny" />    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ac68d7a452.js" crossorigin="anonymous"></script>    

    <!-- my script -->

    <script>    

    // main
      let i = 0;
      function test(){        
        fetch("/", {method : 'post'}).then((response)=>{
          console.log(response.json());
        });
        fetch("/", {method : 'post'}).then((response)=>response.json()).then((result)=>data(result));
            // return a.blog;
          //   return a;
          // });                
        function data(result){                    
          console.log(result[0]);
          const tmp = document.getElementById("test_place");          
          function addtext(){
            tmp.innerText += `\n제목${i}`;
            var engs = result[i].ENG.split(' ');
            tmp.innerText += `\n${result[i].ENG}`;
            tmp.innerText += `\n${engs}`;
            tmp.innerText += `\n${engs.length}`;
            for (let words of engs) {
              tmp.innerText += `\n${words}`;
            }
            tmp.innerText += `\n${result[i++].KOR}`; 
          }          
          addtext();
        }
      }

      

      

  //  html 내부 정리함수

      function sleep(sec) {
        return new Promise(resolve => setTimeout(resolve, sec * 1000));
      } 

      async function clear_input(){        
        document.getElementById("main_input").value="";
        click_fadeout(document.getElementById('result_contents'));
        click_fadeout(document.getElementById('Sres_view'));
        resize(document.getElementById("main_input"));                
        await sleep(1);
        iframe1_dis();
        iframe2_dis();    
        var doc = document.getElementById('result_view').contentWindow.document;
        doc.getElementById('body_contents').innerHTML = `<div class="blank_sheet">
        <div class="animate__animated animate__slideInDown text_center"><span class="ft3 ftbb"> What's difference? </span> </div>
      </div>`;
        click_fadein(document.getElementById('result_contents'));
        iframe1_vis();    
      }

      function resize(obj) {        
        obj.style.height = "1px";
        obj.style.height = ((obj.scrollHeight/10)+0.5)+"rem";
      }

      async function click_fadein(obj) {        
        console.log('fadein detected : '+ obj.id);
        obj.classList.toggle('animate__fadeIn');      
        await sleep(1); 
        obj.classList.toggle('animate__fadeIn');
      }        

      async function click_fadeout(obj) {        
        obj.classList.toggle('animate__fadeOut');      
        await sleep(1); 
        obj.classList.toggle('animate__fadeOut');
      }        

      function iframe1_vis() {                        
        document.getElementById('result_view').setAttribute('style', 'display : block');
      }

      function iframe1_dis() {                
        document.getElementById('result_view').setAttribute('style', 'display : none');
      }

      function iframe2_vis() {                        
        document.getElementById('Sres_view').setAttribute('style', 'display : block');
      }

      function iframe2_dis() {                
        document.getElementById('Sres_view').setAttribute('style', 'display : none');
      }


      function footbar_vis() {        
        document.getElementById('footbar').setAttribute('style', 'display : flex');
      }      

      window.onload = function() {
        var oFrame = document.getElementById("Sres_view");
        oFrame.contentWindow.document.onclick = function() {
          document.getElementById('footbar').setAttribute('style', 'display : flex');
        };
      };

      function footbar_dis() {        
        document.getElementById('footbar').setAttribute('style', 'display : none');
      }

      function add_click() {
        var engs = document.getElementById('main_input').value.replace(/\n$/,'');
        var Sres_view_html = document.getElementById('Sres_view').contentWindow.document;          
        document.getElementById("edit_eng").value = engs;
        if (Sres_view_html.getElementById('Sres_KOR').innerText === "") {          
        } else {
          document.getElementById("edit_kor").value=Sres_view_html.getElementById('Sres_KOR').innerText;
        }
      }


    </script>
  </head>

  <body>
    <!-- nav bar -->

    <div class="navbar">

      <div class="navbar_logo">
        <i class="fa-solid fa-tree text_green ft5 ftbb"></i>
        <a href="/"> <span class="ft5 ftb"> WordAT </span> </a>
      </div>
      <div class="navbar_menu">
      </div>
      <div class="navbar_icon">
      </div>
    </div>    
   
    <!-- mainbox 1 -->

    <div class="container mainbox_center">

      <div class="result_contents animate__animated" id="result_contents" onclick="footbar_vis();">
        <iframe class="result_view " name="result_view" id="result_view" src="/html/cambrg.html" style="display: block">
        </iframe>                  
      </div>        
    
      <div class="searchbar">
        <div class="searchbar_main">
          <textarea class="autosize ft8" id="main_input" placeholder="Search a Sentence" required onclick="resize(this); footbar_dis();" onkeydown="resize(this);" onkeyup="resize(this);"></textarea>
          <a href="javascript:clear_input();"><i class="fa-solid fa-xmark text_red animate__animated" onclick="click_fadein(this);"></i></a>          
        </div>
        <div class="searchbar_items" onclick="footbar_vis();">          
          <a id="link_yarn" href="https://getyarn.io/" target="_blank" sytle="margin-left : 0;"><img class="animate__animated border-round" src="/images/icon_yarn.webp" width="30" height="30" onclick="click_fadein(this);"/></a>
          <a id="link_youglish" href="https://www.youglish.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_youglish.jpg" width="60" height="30" onclick="click_fadein(this);"/></a>
          <a id="link_google" href="https://www.google.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_google.png" width="30" height="30" onclick="click_fadein(this);"/></a>
          <i class="tts fa-solid fa-forward text_red animate__animated" onclick="click_fadein(this); tts(1);"></i>          
          <i class="tts fa-solid fa-play text_green animate__animated" onclick="click_fadein(this); tts(0.5);"></i>          
          <i class="fa-solid fa-square-plus text_red animate__animated " data-bs-toggle="modal" data-bs-target="#myModal_example" onclick="click_fadein(this); add_click();"></i>
          <!-- <button class="btn-modal btn btn-danger bg-gradient" data-bs-toggle="modal" data-bs-target="#myModal_example" onclick="add_click();"> + </button>                          -->
            <div id="myModal_example" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="ft5 ftbb"> Add words to the wordbook </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>                  
                  <form action="/word_manage/add/내단어장" method="post">
                    <div class="modal-body">                                          
                      <div class="input-group mb-3">
                        <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > ENG </span>
                        <input type="text" name="word_english" class="form-control ft8" placeholder="Input a English Sentence" id="edit_eng" aria-label="Username" aria-describedby="basic-addon1" > 
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1"> KOR </span>
                        <input type="text" name="word_korean" class="form-control ft8" placeholder="Input it's meaning" id="edit_kor" aria-label="Username" aria-describedby="basic-addon1">
                      </div>                                      
                      <div class="modal-footer">                        
                        <button type="submit" class="btn bg_firebrick bg-gradient text_cornsilk ft8 ftbb" data-bs-dismiss="modal"> ADD </button>
                        <button type="button" class="btn btn-secondary bg-gradient ft8 ftbb" data-bs-dismiss="modal"> CLOSE </button>                        
                      </div>                    
                    </div>
                  </form> 
              </div>
            </div>
        </div>
      
      
      </div>        
    
      
      
      <div class="searchResult" onclick="footbar_vis();">        
        <iframe class="Sres_view animate__animated" name="Sres_view" id="Sres_view" style="display: none" src="/html/Sres_view.html"></iframe>              
      </div>
      <div >
        <div class="animate__animated animate__tada animate__delay-2s"> </div>     
        <!-- animate__heartBeat -->
      </div>
      
    <!-- mainbox2 -->


<!-- post test -->
        
        <div id="test_place">
          <!-- <button onclick="Cambrg_search('line');"> cambrg </button> -->
          <!-- <button onclick="test();"> test </button> -->
        </div>
      </div>
    

<!-- foot bar -->

    <div class="footbar" id="footbar">
      <div class="footbar_menu border">
        <a href="/">
          <ul>
            <li><i class="fa-solid fa-house ft7 ftbb"></i></li>
            <li><span class="ft10"> Home  </span></li>
          </ul>
        </a>
      </div>
      <div class="footbar_menu border">
        <a href="/wordlist">
          <ul>
            <li><i class="fa-solid fa-book ft7 ftbb"></i></li>
            <li><span class="ft10"> Wordbook  </span></li>
          </ul>
        </a>
      </div>
      <div class="footbar_menu">
      </div>
      <div class="footbar_menu border">
        <ul>
          <li><i class="fa-solid fa-arrow-rotate-left ft7 ftbb"></i></li>
          <li><span class="ft10"> back </span></li>
        </ul>
      </div>
    </div>

    

    
    <script>      
      
      const Search_DOC = document.querySelector(".searchbar");
      Search_Input = Search_DOC.querySelector("textarea");

      // const Set_TEXT = document.getElementById("Sres_ENG");
      // const Set_TEXT = document.getElementById("Sres_ENG");
      
      // const function
      


      // global varible
      let Word_title = '';
      let Word_meaning = '';
      let Word_phonetics = '';
      var engs_res = '';

      function dictionaryapi(words){
        var url = 'https://api.dictionaryapi.dev/api/v2/entries/en/' + words;        
        fetch(url).then((response)=>response.json()).then((result)=>data(result));        
        function data(result){
          console.log(result);          
          // console.log(result[0].meanings[0].definitions[0].definition);          
          // console.log(result[0].phonetics[0].text);
          document.getElementById('Sres_WORD').innerHTML += `<span class="ft4">${result[0].meanings[0].definitions[0].definition} ${result[0].phonetics[0].text}</span> \n`;                            
          engs_res = `<a href="https://dictionary.cambridge.org/dictionary/english/${words}" target="result_view" title="${words}" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="${result[0].meanings[0].definitions[0].definition}">${words}</a> `;                                                              
          Set_TEXT.innerHTML += engs_res;
          re_popup();                              
          } 
        }        
        
      Search_Input.addEventListener("keyup", e => {
        if(e.key === "Enter" && e.target.value.replace(/ /gi,'').replace(/\n/gi,'')) {                    
          var engs_org = e.target.value.replace(/\n$/,'');
          var engs_spl = e.target.value.replace('\n', ' ___ ').replace(/^\s+|\s+$/g,'').replace('  ',' ').split(' ');          
          console.log(engs_spl);
          engs_res = '';          
          var Sres_view_html = document.getElementById('Sres_view').contentWindow.document;          
          Sres_view_html.getElementById('Sres_ENG').innerHTML = '';          
          
          function TEST_add(engs_spl){
            for (let words of engs_spl){            
              if (words === '___') {
                engs_res += `<br>`;
              } else {                                
                engs_res += `<a href="#" onclick="parent.Cambrg_search('${words}'); ">${words}</a> `;
              }              
            }

            Sres_view_html.getElementById('Sres_ENG').innerHTML += engs_res;
            re_popup();             
            click_fadein(document.getElementById('Sres_view'));        
            iframe2_vis();
          }      
          
          TEST_add(engs_spl);
          trans_papago(engs_org);
          document.getElementById('link_yarn').setAttribute('href', encodeURI('https://getyarn.io/yarn-find?text=' + engs_org));
          document.getElementById('link_youglish').setAttribute('href', encodeURI('https://youglish.com/pronounce/' + engs_org + '/english?'));
          document.getElementById('link_google').setAttribute('href', encodeURI('https://www.google.com/search?q="' + engs_org +'"'));          
        }       
      });
      // map 사용해야 할 듯

    </script>    

<!-- Google tts -->

<script>
// 외부용
// api key : AIzaSyD_oAgCmJ_dbiGMxCefQ2m4LUOOQ-xBrpM
//https://texttospeech.googleapis.com/v1/text:synthesize
// 음성 config https://cloud.google.com/text-to-speech/docs/reference/rest/v1/text/synthesize#audioconfig
// 합성 음성 https://cloud.google.com/text-to-speech/docs/create-audio

  function tts(speed){
    
    var sentence = document.getElementById('main_input').value;     
    
    console.log(sentence);  
    
    
    fetch('https://texttospeech.googleapis.com/v1beta1/text:synthesize', {        
        method: 'POST',
        headers: {
            'X-Goog-Api-Key': 'AIzaSyD_oAgCmJ_dbiGMxCefQ2m4LUOOQ-xBrpM',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'input' : {'text' : sentence},
          'voice' : {'languageCode' : 'en-US' , 'name' : 'en-US-Neural2-C', 'ssmlGender' : 'FEMALE'},
          // 'voice' : {'languageCode' : 'en-US' , 'ssmlGender' : 'FEMALE'},
          'audioConfig': {'audioEncoding': 'MP3' },        
        }),
      })
    .then((response)=>response.json())
    .then((result)=>data(result));  
    function data(result){      
      console.log(result);      
      // console.log(JSON.stringify(result.audioContent.data));
      var Sound = new Audio(`data:audio/mp3;base64,${result.audioContent}`);
      Sound.playbackRate = speed;
      Sound.play().then(()=>{        
      // new Audio(`data:audio/mp3;base64,${result.audioContent}`).play().then(()=>{        
        console.log('sound ok');
      })
      .catch(error => {
        console.log('sound err');
      });      
    }
  }




// 내부용

  // function tts(){
  //   // api key : AIzaSyD_oAgCmJ_dbiGMxCefQ2m4LUOOQ-xBrpM
  //   var sentence = {sentence : document.getElementById('main_input').value};    
  //   console.log(sentence);
    // fetch("/google_tts", {method : 'post', headers: {'Content-Type': 'application/json'}, body : JSON.stringify(sentence)}).then((response)=>response.json()).then((result)=>data(result));  
  //   function data(result){      
  //     // console.log(result);
      
  //     // console.log(JSON.stringify(result.audioContent.data));
  //     new Audio(`data:audio/mp3;base64,${result}`).play().then(()=>{        
  //       console.log('sound ok');
  //     })
  //     .catch(error => {
  //       console.log('sound err');
  //     });      
  //   }
  // }

</script>


<!-- Cambridge Search -->
    <script>    
      async function Cambrg_search(word){
        console.log('cambrg 1');
        // fetch("/websearch_cambrg", {method : 'post'}).then((response)=>{
        //   console.log(response.json());
        // });
        // document.getElementById('result_view').src= '/html/cambrg.html';
        

        var word = {word : word};
        await fetch("/websearch_cambrg", {method : 'post', headers: {'Content-Type': 'application/json'}, body : JSON.stringify(word)}).then((response)=>{
          console.log(response);
          if (response.status === 404) {
            throw new Error('Not Found');
          } else {
            return response.json();
          }
        })
        .then((result)=>data(result))
        .catch((error)=>data2());
        
        function data(result){          
          console.log('cambrg 2');           
          result_view_html(result);
        }
        function data2(){
          console.log('Cambridge err');          
        }
      }      
    </script>

  <!-- 상단 iframe 쓰기 -->
    <script>
      function result_view_html(data){                     
        var doc = document.getElementById('result_view').contentWindow.document;
        iframe1_vis();
        click_fadein(document.getElementById('result_contents'));

        var topbody = `
        <div class="navline">
            <a href="https://dictionary.cambridge.org/dictionary/english-korean/" target="_blank"><img src="/images/cambrg_logo.png"></a>
            <input type="text" class="nav_input" placeholder="Search a word" required inputmode="search"></input>
        </div>
        <div id="contents" class="contents">`;

        var wordhead = '';
        var meanings = '';
        
        let i = 0;
        
        for (let head of data) {
          wordhead += `<div id="wordhead" class="wordhead"> 
            <div class="word">
                <span id="word"> ${head.word} </span>
            </div>  
            <div class="etc">
                <span id="pronounce" class="pronounce"> [${head.pronounce}] </span> <br>
                <span id="part" class="part">${head.part}</span>
            </div>
            <div class="pronounce_sound"> 
                <span class="sound"><a href="#" id="sound" onclick="audio_pron${i}.load(); audio_pron${i}.play();"><i class="fa-solid fa-volume-high ft5"></i></a></span>        
                <audio preload="none" id="audio_pron${i}" controlslist="nodownload">
                    <source id="audio_link" type="audio/mpeg" src="https://dictionary.cambridge.org${head.pronounce_link}">            
                </audio>
            </div>
          </div>`;
            
            for (let meaning of head.meanings) {          
              wordhead += `<div id="meaning_list" class="meaning_list">
                <div class="line"> </div>
                  <div class="meaning">
                    <span class="meaning_eng">${meaning.meaning_eng}</span><br>
                    <span class="meaning_kor">${meaning.meaning_kor}</span>`;
                    
              meaning.example = meaning.example.filter(Boolean);
              console.log(meaning, meaning.example.length);
            
              if ( meaning.example.length > 0 ) {
                wordhead += `<div class="examples">
                        <ul>`;
                for (let example of meaning.example) {            
                  console.log(example);
                  wordhead += `<li>${example}</li>`;
                };
                wordhead += `</ul> </div> </div>`;
              } else {
                wordhead += `</div>`;
              }
              wordhead += `</div>`;
            }
          i += 1;               
        }       
        
        doc.getElementById('body_contents').innerHTML = topbody + wordhead + `</div>`;
        let script = doc.createElement('script');
        script.src='/javascripts/cambrg.js';
        doc.body.appendChild(script);
        
      }

        //     meanings += `<div class="examples">
        //             <ul>`;
        //     for (let example of meaning.example) {            
        //       console.log(example);
        //       meanings += `<li>${example}</li`;
        //     };
        //     meanings += `</ul> </div> </div>`;
        //   } else {
        //     meanings += `</div>`;
        //   };          
        // };
        // console.log(meanings);
        // 
      

        // console.log(JSON.stringify(data));

        // document.getElementById('result_view').setAttribute('srcdoc', `<span class="ft1 ftbb"> word : ${data.word} 
        //   <br>
        //   pronounce : [${data.pronounce}]
        //   <br>
        //   <button onclick ="audio_pron.load(); audio_pron.play();"> link </button>
        //   <audio preload="none" id="audio_pron" controlslist="nodownload">
        //   <source type="audio/mpeg" src="https://dictionary.cambridge.org${data.pronounce_link}">            
        //   </audio> 
        //   <br>${meanings}`) ;

        //   <br>
        //   pronounce : [${data.pronounce}]
        //   <br>
        //   <button onclick ="audio_pron.load(); audio_pron.play();"> link </button>
        //   <audio preload="none" id="audio_pron" controlslist="nodownload">
        //   <source type="audio/mpeg" src="https://dictionary.cambridge.org${data.pronounce_link}">            
        //   </audio> 
        //   <br>` + meanings ;
        
    </script>

<!-- papago translation -->
    <script>
      function trans_papago(SENTC){
        let TEXT = {word : SENTC};        
        let TEXT_JSON = JSON.stringify(TEXT);
        console.log(TEXT);
        console.log(JSON.stringify(TEXT));
        fetch("/translate", {method : 'post', headers: {'Content-Type': 'application/json'}, body : JSON.stringify(TEXT)}).then((response)=>response.json()).then((result)=>data(result));                

        function data(result){          
          let B = JSON.stringify(result);
          var Sres_view_html = document.getElementById('Sres_view').contentWindow.document;          
          var tmp = Sres_view_html.getElementById("Sres_KOR");
          function addtext(){
            tmp.innerText = result.message.result.translatedText;
          }
          addtext();
        }                                       
        iframe2_vis();
      }
    </script>
    
    

<!-- popover -->
    <script>      

      var popover = new bootstrap.Popover(element, {
        popperConfig: function (defaultBsPopperConfig) {
          var newPopperConfig = {html	: true}
          // use defaultBsPopperConfig if needed...
          // return newPopperConfig
        }
      })

      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })

      function re_popup(){
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
        })
      }

    </script>  
    
    


  </body>

</html>
