<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="deny" />    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ac68d7a452.js" crossorigin="anonymous"></script>    

    <link rel="stylesheet" href="/stylesheets/style.css">        
    <script src="/javascripts/index_basic.js"></script>
    
  </head>

  <body>
    <!-- nav bar -->

    <div class="navbar shadow-sm">

      <div class="navbar_logo">
        <i class="fa-solid fa-tree text_green ft5 ftbb"></i>
        <a href="/"> <span class="ft5 ftb"> WordAT </span> </a>
      </div>
      <div class="navbar_menu">
      </div>
      <div class="navbar_icon">
      </div>
    </div>    
   
    <!-- mainbox 1 -->

    <div class="container-fluid mainbox_center">

      <div id="Upper_search_container" class="shadow-sm">
        <div id="Upper_carousel" class="carousel slide" data-bs-touch="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#Upper_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#Upper_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#Upper_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" id="contents_wordbook">
              <div class="wordbook_headline">
                <i class="fa-solid fa-snowflake ft7 ftb text_white"></i><span class="ft6 ftb text_white"> Wordlist </span><i class="fa-solid fa-snowflake ft7 ftb text_white"></i>                                
              </div>
              <div class="contents">
                <div id="wordbook_list" class="wordbook_list ">
                  <div class="wordbook_wrap shadow-sm">
                    <div class="wordbook_text">                    
                      <div id="wordbook_name" class="wordbook_name ft8 ftb text_purple"> <span>내단어장 </span></div>
                      <div id="wordbook_hashtag" class="wordbook_hashtag ft10 text_gray"> <span>#오늘도즐거워 #람쥐귀여워 </span></div>                                        
                    </div>
                    <div class="wordbook_option"><i class="fa-solid fa-pen ft7 ftb text_green" onclick="wordbook_list_post();"></i></div>
                    <div class="wordbook_option"><i class="fa-solid fa-trash-can ft7 ftb text_red"></i></div>                      
                  </div>                  
                </div>
              </div>
            </div>
            <div class="carousel-item" id="contents_cambrg">            
              <div class="blank_sheet">
                <div class="text_middle"><span class="ft3 ftbb"> Cambridge Dictionary </span></div>
              </div>
            </div>
            <div class="carousel-item" id="contents_wordlist">              
              <div class="blank_sheet">
                <div class="text_middle"><span class="ft3 ftbb"> What's difference? </span></div>
              </div>
            </div> 
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#Upper_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#Upper_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      </div>

    
      <div class="searchbar">
        <div class="searchbar_main  shadow-sm">
          <textarea class="autosize ft8" id="main_input" placeholder="Search a Sentence" required onclick="resize(this); footbar_dis();" onkeydown="resize(this);" onkeyup="resize(this);"></textarea>
          <div id="main_input_icon_x"><i class="fa-solid fa-xmark text_red animate__animated"  onclick="clear_input();click_fadein(this);"></i></div>
          <div id="main_input_icon_trans"><i class="fa-solid fa-language text_green animate__animated" onclick="click_fadein(this); tranbtn_click();"></i></div>
        </div>
        <div class="searchbar_items shadow-sm" onclick="footbar_vis();">          
          <a id="link_yarn" href="https://getyarn.io/" target="_blank" sytle="margin-left : 0;"><img class="animate__animated border-round" src="/images/icon_yarn.webp" width="30" height="30" onclick="click_fadein(this);"/></a>
          <a id="link_youglish" href="https://www.youglish.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_youglish.jpg" width="60" height="30" onclick="click_fadein(this);"/></a>
          <a id="link_google" href="https://www.google.com/" target="_blank"><img class="animate__animated border-round" src="/images/icon_google.png" width="30" height="30" onclick="click_fadein(this);"/></a>
          <i class="tts fa-solid fa-forward text_red animate__animated" onclick="click_fadein(this); tts(1);"></i>          
          <i class="tts fa-solid fa-play text_green animate__animated" onclick="click_fadein(this); tts(0.5);"></i>          
          <i class="fa-solid fa-square-plus text_red animate__animated " data-bs-toggle="modal" data-bs-target="#myModal_example" onclick="click_fadein(this); add_click();"></i>
          <!-- <button class="btn-modal btn btn-danger bg-gradient" data-bs-toggle="modal" data-bs-target="#myModal_example" onclick="add_click();"> + </button>                          -->
            <div id="myModal_example" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="ft5 ftbb"> Add words to the wordbook </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>                  
                  <form action="/word_manage/add/내단어장" method="post">
                    <div class="modal-body">                                          
                      <div class="input-group mb-3">
                        <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1" > ENG </span>
                        <input type="text" name="word_english" class="form-control ft8" placeholder="Input a English Sentence" id="edit_eng" aria-label="Username" aria-describedby="basic-addon1" > 
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text ft8 ftb bg_cornsilk text_red" id="basic-addon1"> KOR </span>
                        <input type="text" name="word_korean" class="form-control ft8" placeholder="Input it's meaning" id="edit_kor" aria-label="Username" aria-describedby="basic-addon1">
                      </div>                                      
                      <div class="modal-footer">                        
                        <button type="submit" class="btn bg_firebrick bg-gradient text_cornsilk ft8 ftbb" data-bs-dismiss="modal"> ADD </button>
                        <button type="button" class="btn btn-secondary bg-gradient ft8 ftbb" data-bs-dismiss="modal"> CLOSE </button>                        
                      </div>                    
                    </div>
                  </form> 
              </div>
            </div>
        </div>
      
      
      </div>        
    
      
      
      <div class="searchResult shadow-sm animate__animated" style="display: none" id="Sres_view" onclick="footbar_vis();">        
        <div class="Sres_view" name="Sres_view">
          <ul>
            <li class="Sres_ENG" >
                <p id="Sres_ENG" class="ft8 ftbb text_red"> </p>
            </li>
            <li class="Sres_KOR">
                <p id="Sres_KOR" class="ft8 ftb text_green"></p>
            </li>
                <li class="Sres_WORD">
            <p id="Sres_WORD" class="ft8"> </p>
                </li>
            <li class="Sres_option">            
                </li>          
          </ul>
        </div>              
      </div>
      <div >
        <div class="animate__animated animate__tada animate__delay-2s"> </div>     
        <!-- animate__heartBeat -->
      </div>
      
    <!-- mainbox2 -->


<!-- post test -->
        
        <div id="test_place">
          <!-- <button onclick="Cambrg_search('line');"> cambrg </button> -->
          <!-- <button onclick="test();"> test </button> -->
        </div>
      </div>
    

<!-- foot bar -->

    <div class="footbar" id="footbar">
      <div class="footbar_menu border">
        <a href="/">
          <ul>
            <li><i class="fa-solid fa-house ft7 ftbb"></i></li>
            <li><span class="ft10"> Home  </span></li>
          </ul>
        </a>
      </div>
      <div class="footbar_menu border">
        <a href="/wordlist">
          <ul>
            <li><i class="fa-solid fa-book ft7 ftbb"></i></li>
            <li><span class="ft10"> Wordbook  </span></li>
          </ul>
        </a>
      </div>
      <div class="footbar_menu">
      </div>
      <div class="footbar_menu border">
        <ul>
          <li><i class="fa-solid fa-arrow-rotate-left ft7 ftbb"></i></li>
          <li><span class="ft10"> back </span></li>
        </ul>
      </div>
    </div>

  <!-- script -->

  <script src="/javascripts/index_function.js"></script>   
    
    
    


  </body>

</html>
