@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin : 0;
    padding : 0;
    /*box-sizing : border-box;*/
    }
html {
    font-size : 62.5%;
}
body {
    display : flex;
    width : 100vw;
    height : 100vh;
    /* align-items : center; */
    /*justify-content : center;*/    
    font-family : 'poppins', sans-serif;    
    margin: 0;
    padding : 0;
    }

/* font */

.ft1 {
    font-size : 2.8rem;
}

.ft2 {
    font-size : 2.6rem;
}

.ft3 {
    font-size : 2.4rem;
}

.ft4 {
    font-size : 2.2rem;
}

.ft5 {
    font-size : 2rem;
}

.ft6 {
    font-size : 1.8rem;
}

.ft7 {
    font-size : 1.6rem;
}

.ft8 {
    font-size : 1.4rem;
}

.ft9 {
    font-size : 1.2rem;
}

.ft10 {
    font-size : 1rem;
}

.ftb {
    font-weight: bold;
}

.ftbb {
    font-weight:bolder;
}

a {
    text-decoration : none;
    color : firebrick;
}

ul {
    list-style:none;
    }

.text_white {
	color :azure;
}

.text_red {
    color : firebrick;
}

.text_cornsilk {
    color: cornsilk;
}

.text_green {
    color : darkgreen;
}

.text_purple {
	color : #5f0080;
}

.text_gray {
	color :#999;
}

.text_pink {
  color : #ff4687;
}

.modal-content {
  font-family: 'poppins', sans-serif;
}


/* background color */
.bg_firebrick {
    background-color: firebrick;
}

.bg_cornsilk {
    background-color: cornsilk;
}

.bg_silver {
    background-color: #999;
}

.bg_pink {
  background-color: #ff4687;
}

/* text-align */

.text_middle {    
  width : 100%;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);    
	text-align : center;  
}

.vertical_middle {
	vertical-align: middle;
}
/* 0.1 Sres_view html */

#Sres_view_body {
    width : 100%;
    margin : auto;
    border-radius: 5px ;
}



/* 1. navbar */

.navbar {
    display: block;
    position : fixed;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk;
    vertical-align: middle;
    padding : 0.5rem 0.5rem 0.5rem 1rem;
    z-index: 100;
    font-family : 'Rubik Gemstones', sans-serif;
    /*padding : 10px 0px 10px 0px;*/
}
.navbar_logo {

}

.navbar a {
    text-decoration: none;
    color: firebrick;
}

.navbar i {
    margin-right : 0.5rem;
}
.navbar span {
    letter-spacing : 0.2rem;
}

/* 2. mainbox */    

.mainbox_center {
    display : block;
    width : 100%;  
    justify-content: space-between;  
    padding : 0.5rem 0.5rem 0.5rem 1rem;
    /* align-content:center;
    align-items: center;
    text-align: center; */
    margin-top : 6rem;
    margin-bottom : 7rem;    
    margin-left : auto;
    margin-right : auto;
    padding : 0;
    
}    

    #Upper_search_container{
        display : flex;
        height : 33rem;
        width : 85%;
        margin-left:auto; margin-right: auto;
        /* align-content:center; */
        /* align-items: center; */
        /* text-align: center;         */
         
        margin-bottom : 2rem;    
    }
      #Upper_carousel{
          width : 100%;
          height: 90%;
          margin : 0;
          padding : 0;
          border-radius : 7px;   
      }
        #Upper_carousel .carousel-inner {
            width : 100%;
            height : 100%;
            margin : 0;
            padding : 0;						
        }
          #Upper_carousel .carousel-inner .carousel-item{ 
              width : 100%;
              height : 100%;
              /* margin : 0;
              padding : 0; */
              overflow-y : scroll;    
          }
					

          #Upper_carousel .carousel-inner .carousel-item::-webkit-scrollbar {
            display: none;
          }

            #Upper_carousel .carousel-inner .carousel-item .blank_sheet {              
              width : 100%;
              height : 100%;
              margin : 0;
              padding : 0;                            
            }

            /* 0. Cambrg */

            #contents_cambrg .navline {
              display: block;
              /* position : fixed;               */
              /* top : 59px; */
              width : 100%;
              margin : 0;
              padding : 0 1.5rem 0rem 1.5rem;
              text-align :justify;
              text-align-last: justify;
              align-content: space-between;    
              background-color: #1d2a57;    
              z-index: 50;
              font-family : 'poppins', sans-serif;
              border-radius: 5px ;
              /*padding : 10px 0px 10px 0px;*/
            }

            #contents_cambrg .navline img {    
              height : 2rem;
              width : 8rem;    
            }

            #contents_cambrg .navline input {    
              font-size : 1rem;
              text-align : left;
              text-align-last: auto;
              height : 3rem;
              /* ((scrollHeight/10)+0.4)rem; */
              width: 50%;
              border-radius: 5px ;
              border : 1px solid #1d2a57;
              outline : none; 
              /* margin : 0 0 0 5rem;     */
              padding : 0.5rem;
            }

            #contents_cambrg .contents {
              display : block;
              align-items: center;
              /* margin-top : 5rem;       */
              width : 100%; 
            }

            #contents_cambrg .wordhead {
              display : flex;    
              align-items: center;    
              width : 100%; 
              background-color: #ddfaff;
              margin-top : 0.5rem;      
            }

            #contents_cambrg .wordhead .word{
              column-width:auto;
              margin : 0 1rem 0 1rem;
              padding : 1rem 0 1rem 0;
              line-height: 1rem;    
              font-size : 2.2rem;
              font-weight: bolder;
            }

            #contents_cambrg .wordhead .etc{
              line-height: 1rem;  
              margin : 0 1rem 0 0rem;
              padding : 0.6rem 0 0 0;
              font-size : 1rem;    
            }

            #contents_cambrg .wordhead .pronounce_sound{    
              padding-top : 0.5rem;
              padding-bottom : 0rem;    
            }

            #contents_cambrg .wordhead .pronounce span{     
              
            }

            #contents_cambrg .meaning_list {
              display : block;
              width : 100%;              
              margin-top : 0.5rem;
              text-align : left;
            }
            #contents_cambrg .meaning_list .line {
              display : block;
              font-size : 0.2rem;
              height : 0.2rem;        
              background-color: #fec400; 
              width : 100%;

            }

            #contents_cambrg .meaning {
              margin : 0.5rem 1rem 0 1rem;
            }

            #contents_cambrg .meaning .meaning_eng {    
              color : #1d2a57;
              font-size : 1.4rem;
              font-weight: bold;
            }

            #contents_cambrg .meaning .meaning_kor {
              color : #0580e8;
              font-size : 1.4rem;
              font-weight: bold;
            }

            #contents_cambrg .meaning .examples ul li {
              list-style : disc outside none;
              font-size : 1.2rem;
              
            }


						/* .searchbar_items {
							display : flex;
							width : 85%;
							padding : 0.5rem;
							border-radius: 5px ;
							margin : auto;
							margin-bottom : 1.5rem;
							text-align :justify;
							text-align-last: justify;
							align-content: space-between;
							vertical-align: middle;    
					} */

						


    /* 2. 1-2. primary box */

/* .result_contents {
    display : block;
    height : 33rem;
    align-content:center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border-radius : 7px;    
    margin-bottom : 2rem;    
} */

.searchbar {
    display : block;    
    align-content:center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border-radius : 7px;    
    margin-bottom : 2rem;
}

    .searchbar_main {
        display : flex;
        width : 85%;
        margin : auto;
        margin-bottom : 0.8rem;
        align-content: space-between;
        vertical-align: middle;
				border-radius: 5px ;
				
    }

			#main_input {    
					position : relative;
					height : 3.6rem;
					/* ((scrollHeight/10)+0.4)rem; */
					width: 90%;
					border-radius: 5px ;
					border : 0.1rem solid #999;
					outline : none;     
					text-align : justify;
					padding : 0.5rem 2.8rem 0.5rem 1rem;    
			}

			#main_input:focus {
					border: 2px solid firebrick;
			}

			#main_input_icon_x {
					position : absolute;
					left : 75%;
					/* top : 61%; */
					/* transform: translateY(-50%);     */
					height : 3.6rem;
					font-size : 2.5rem;					
					/* margin-bottom : 1rem; */ 
					z-index : 0;
			}
			
			#main_input_icon_trans {
				display : flex;			
				align-items: center;	
				margin-left : 0.3rem;
				font-size : 3.3rem;				
				padding : 0;
				height : 3.6rem;				
			}			

		.searchbar_items {
				display : flex;
				width : 85%;
				padding : 0.5rem;
				border-radius: 5px ;
				margin : auto;
				margin-bottom : 1.5rem;
				text-align :justify;
				text-align-last: justify;
				align-content: space-between;
				vertical-align: middle;    
		}

			.searchbar_items a {				
				margin : auto;
				/* align-content:center;
				vertical-align: middle; */
			}
		
			.searchbar_items .tts {				
					margin : auto;
					/* align-content:center;
					vertical-align: middle; */
			}

			.searchbar_items i {        				
				font-size : 25px;
				margin : auto;				
				/* margin-bottom : 1rem; */
				/* padding : 0.5rem;     */
				/* z-index : 0; */
			}
		
		.searchResult {
			display : block;        
			align-content:center;
			align-items: center;
			text-align: center;
			vertical-align: middle;    
			background-color: cornsilk;
			border-radius : 7px;   
			margin-bottom : 5rem;        
		}
			
		


    





    /* 2. 2. detail box */

        /* 2. 2. 1. result_contents view */
.result_view {
    display : flex;
    height : 33rem;
    width : 85%;    
    margin : auto;
    /* margin-bottom : 10px; */
    align-content: space-between;
    vertical-align: middle;
}

        /* 2. 2. 2. searchbar view */
            /* 2. 2. 2. 1. searchbar_main */



            /* 2. 2. 2. 1. searchbar_items */



        /* 2. 2. 3. searchresult view */
/* .Sres_view {    
    display : flex;
    height : 33rem;
    width : 85%;    
    margin : auto;
    
    /* margin-bottom : 10px; */
    /* align-content: space-between;
    vertical-align: middle;
} */

.searchResult {
    width : 85%;
    margin : auto;        
    text-align : left;
}

.searchResult ul {    
    width : 95%;        
    margin-left : 1rem;    
    text-align : left;
    vertical-align: middle;
    padding : 0;
}

.searchResult ul li {
    color : gray;            
}



.Sres_ENG {    
    border-left : 3px solid black;
    border-radius : 3px;
    border-color: coral;
    padding-left : 5px;
}

.Sres_KOR {    
    border-left : 3px solid black;
    border-radius : 3px;
    border-color: coral;
    padding-left : 5px;
}

/* 2-2. second_1box_center */

.second_1box_center {
  display : none;
  width : 100%;  
  /* height : 100%; */
  /* justify-content: space-between;   */
  padding : 10rem auto auto auto;
  /* align-content:center;
  align-items: center;
  text-align: center; */
  margin-top : 5rem;
  margin-bottom : 5rem;    
  margin-left : auto;
  margin-right : auto;
  padding : 0;    
}						

						#second_1box_center .wordbook_headline {
              display: flex;              
              width : 100%;
              margin : 0;
              padding : 0.5rem 1.5rem 0.5rem 1.5rem;              
							/* background: linear-gradient(45deg, #3123b4, #3123b4, #170e40, #0a042a);                             */
              font-family: 'Permanent Marker', 'poppins',sans-serif;               
              border-radius: 5px ;                            
              align-items:stretch;
              
            }

						#second_1box_center .wordbook_headline .title {
              display : flex;							              
              margin : auto auto auto 1rem;
              width : 70%;
              border-bottom : 0.3rem solid #ff4687;             
              text-align : left;						
            }            

            #second_1box_center .wordbook_headline .plus_icon {							
              display : flex;							
							margin : auto 1rem auto auto;
						}

            #second_1box_center .wordbook_headline .back_icon {							
              display : flex;							
							margin : auto 1rem auto 1rem;
						}

						#second_1box_center .contents {
							display : block;
              align-items: center;              
              width : 100%; 
							margin-top : 5rem;
						}

						#second_1box_center .wordbook_list {
              display : block;
              width : 100%;              
              margin-top : 0.5rem;
              text-align : left;
							border-radius: 5px;
            }

						#second_1box_center .wordbook_wrap {
							display : flex;
              width : 90%;              
              margin : auto;							
							margin-top : 0.5rem;
							padding : 0.5rem 1rem 0.5rem 1rem;							
              text-align : left;
							border-radius: 5px;
						}

						#second_1box_center .wordbook_wrap .wordbook_text {
							display : block;
							width : 80%;
							
							margin-left : 0rem;							
							margin-right : 0rem;
						}					
						
						#second_1box_center .wordbook_wrap .wordbook_option {
							display : block;								
              width : 20%;
							margin : 0;
              padding : auto;
							text-align: center;
							vertical-align: middle;							
						}

						#second_1box_center .wordbook_option i {
							display : block;
              padding : 1rem;							
						}

						#second_1box_center .wordbook_text .wordbook_name {
							display : block;
						}

						#second_1box_center .wordbook_text .wordbook_hashtag {
							display : block;														
						}


#second_2box_center {
  display : none;
  width : 100%;  
  height : 100%;
  margin-left : 0; 
  justify-content: space-between;    
  /* align-content:center;
  align-items: center;
  text-align: center; */
  /* margin-top : 10rem;
  margin-bottom : 7rem;     */
  /* margin-left : auto;
  margin-right : auto; */
  padding : 0;  
  background-color: cornsilk;   
}


            #second_2box_center .wordlist_headline {
              display: flex;              
              width : 100%;
              margin : 0;
              padding : 0.5rem 1.5rem 0.5rem 1.5rem;              
							/* background: linear-gradient(45deg, #3123b4, #3123b4, #170e40, #0a042a);                             */
              font-family: 'Permanent Marker', 'poppins',sans-serif;          
              border-radius: 5px ;                            
              align-items:stretch;
            }

            #second_2box_center .wordlist_headline .title {
              display : flex;							              
              margin : auto auto auto 1rem;
              width : 70%;

              border-bottom : 0.3rem solid #ff4687;             
              text-align : left;            
            }

            #second_2box_center .wordlist_headline .plus_icon {							
              display : flex;							
							margin : auto 1rem auto auto;
						}

            #second_2box_center .wordlist_headline .back_icon {							
              display : flex;							
							margin : auto 1rem auto 1rem;
            }




            #second_2box_center .contents {
              display : block;
              align-items: center;              
              width : 100%; 
              margin-top : 5rem;
            }

            #second_2box_center .wordlist_list {
              display : block;
              width : 100%;              
              margin-top : 0.5rem;
              text-align : left;
              border-radius: 5px;
            }

            #second_2box_center .wordlist_wrap {
              display : block;
              width : 90%;              
              margin : auto;							
              margin-top : 0.5rem;
              padding : 0.5rem 1rem 0.5rem 1rem;							
              text-align : left;
              border-radius: 5px;
            }

            #second_2box_center .wordlist_wrap .wordlist_main {
              display : flex;
              width : 100%
              
              margin-left : 0rem;							
              margin-right : 0rem;
            }

            #second_2box_center .wordlist_wrap .wordlist_text {
              display : block;
              width : 80%;
              
              margin-left : 0rem;							
              margin-right : 0rem;
            }					

            #second_2box_center .wordlist_wrap .wordlist_option {
              display : block;								
              margin : auto;
              text-align: center;
              vertical-align: middle;
              
            }

            #second_2box_center .wordlist_wrap .wordlist_example {
              /* display :none; */
              /* display : block; */
            }

            #second_2box_center .wordlist_wrap .wordlist_example ul {
              list-style-type :circle;
              content: ">";
            }

            #second_2box_center .wordlist_option i {
              display : block;							
            }

            #second_2box_center .wordlist_text .wordlist_name {
              display : block;
            }

            #second_2box_center .wordlist_text .wordlist_hashtag {
              display : block;														
            }

#second_3box_center {
  display : none;
  width : 100%;  
  height : 100%;  

  margin-left : 0;
  justify-content: space-between;  
  padding : 0;
  /* align-content:center;
  align-items: center;
  text-align: center; */
  /* margin-top : 10rem;
  margin-bottom : 7rem;     */
  /* margin-left : auto;
  margin-right : auto; */  
  background-color: white;
}

            #second_3box_center .word_headline {
              display: flex;              
              width : 100%;
              margin : 0;
              padding : 0.5rem 1.5rem 0.5rem 1.5rem;              
              /* background: linear-gradient(45deg, #3123b4, #3123b4, #170e40, #0a042a);                             */              
              border-radius: 5px ;                            
              align-items:stretch;
            }

            #second_3box_center .word_headline .title {
              display : flex;							              
              border-bottom : 0.3rem solid #ff4687; 
              margin : auto auto auto 1rem;
              align-items: left;              
              width : 70% ;                              
              font-family: 'Permanent Marker', 'poppins',sans-serif;  
            }

            #second_3box_center .word_headline .plus_icon {							
              display : flex;							
              margin : auto 1rem auto auto;
            }

            #second_3box_center .word_headline .back_icon {							
              display : flex;							
              margin : auto 1rem auto 1rem;
            }

            #second_3box_center .contents .word_view {

            }

            #second_3box_center .contents .word_view .word_view_1 {                            
              width : 90%;
              margin : auto;
              border-radius: 0.5rem;
              border :0.1rem solid #768689;
              background-color: #ddfaff;
            }

            #second_3box_center .contents .word_view_1 ul {
              margin : auto;
              padding : 0.5rem;          
            }

            #second_3box_center .contents .word_view_1 ul li{
              text-align : left;      

            }

            #second_3box_center .contents .word_view .word_view_2 {                            
              width : 90%;
              margin : auto;
              border-radius: 0.5rem;
            }

            #second_3box_center .contents .word_view_2 ul {
              margin : auto;
              padding : 0.5rem 0.5rem 0.5rem 2rem;                                      
            }

            #second_3box_center .contents .word_view_2 ul li {
              list-style : disc outside none;
              text-align : left;
            }


            .word_toolbar {
              display : block;    
              align-content:center;
              align-items: center;
              text-align: center;
              vertical-align: middle;
              border-radius : 7px;    
              margin-bottom : 2rem;
            }
          
              .word_toolbar_main {
                  display : flex;
                  width : 90%;
                  margin : auto;
                  margin-top : 0.8rem;
                  margin-bottom : 0.8rem;
                  align-content: space-between;
                  vertical-align: middle;
                  border-radius: 5px ;
                  
              }
          
                #word_toolbar_input {    
                    position : relative;
                    height : 3.6rem;
                    /* ((scrollHeight/10)+0.4)rem; */
                    width: 90%;
                    border-radius: 5px ;
                    border : 0.1rem solid #999;
                    outline : none;     
                    text-align : justify;
                    padding : 0.5rem 2.8rem 0.5rem 1rem;    
                }
          
                #word_toolbar_input:focus {
                    border: 2px solid firebrick;
                }
          
                #word_toolbar_input_icon_x {
                    position : absolute;
                    left : 75%;
                    /* top : 61%; */
                    /* transform: translateY(-50%);     */
                    height : 3.6rem;
                    font-size : 2.5rem;					
                    /* margin-bottom : 1rem; */ 
                    z-index : 0;
                }
                
                #word_toolbar_icon_trans {
                  display : flex;			
                  align-items: center;	
                  margin-left : 0.3rem;
                  font-size : 3.3rem;				
                  padding : 0;
                  height : 3.6rem;				
                }			
          
              .word_toolbar_items {
                  display : flex;
                  width : 90%;
                  padding : 0.5rem;
                  border-radius: 5px ;
                  margin : auto;
                  margin-bottom : 1.5rem;
                  text-align :justify;
                  text-align-last: justify;
                  align-content: space-between;
                  vertical-align: middle;    
              }
          
                .word_toolbar_items a {				
                  margin : auto;
                  /* align-content:center;
                  vertical-align: middle; */
                }
              
                .word_toolbar_items .tts {				
                    margin : auto;
                    /* align-content:center;
                    vertical-align: middle; */
                }
          
                .word_toolbar_items i {        				
                  font-size : 25px;
                  margin : auto;				
                  /* margin-bottom : 1rem; */
                  /* padding : 0.5rem;     */
                  /* z-index : 0; */
                }
              
              .word_toolbar_result {
                display : block;        
                align-content:center;
                align-items: center;
                text-align: center;
                vertical-align: middle;    
                background-color: cornsilk;
                border-radius : 7px;   
                margin-bottom : 5rem;        
              }

              .word_toolbar_result {
                width : 90%;
                margin : auto;        
                text-align : left;
              }
            
              .word_toolbar_result ul {    
                  width : 95%;        
                  margin-left : 1rem;    
                  text-align : left;
                  vertical-align: middle;
                  padding : 0;
              }
              
              .word_toolbar_result ul li {
                  color : gray;            
              }
              
              .wtrv_ENG {    
                  border-left : 3px solid black;
                  border-radius : 3px;
                  border-color: coral;
                  padding-left : 5px;
              }
              
              .wtrv_KOR {    
                  border-left : 3px solid black;
                  border-radius : 3px;
                  border-color: coral;
                  padding-left : 5px;
              }
            
               

/* 3. footbar */

.footbar {
    display: flex;
    left : 0;
    bottom : 0;
    margin : 0;
    padding : 0;    
    position : fixed;
    width : 100%;
    height : 8%;
    /* justify-content: space-between; */
    align-items: center;
    background-color: cornsilk;
    color : dimgrey;    
    z-index: 100;
}

.footbar_menu {
  display : block;  
  width : 21%; 
  height : 100%;    
}

.footbar_menu ul {        
  display: block;  
  height : 100%;  
  width : 100%;
  padding : 1rem;
  margin : 0;
}

.footbar_menu ul li {
  text-align : center;  
  margin : auto;
}

.footbar a {
  text-decoration: none;
  color : dimgrey;   
}
/*  */

.exam1 {
    display : block;
    font-family : 'poppins', sans-serif;
    background-color : Cornsilk;
    color : black;
    border-radius : 7px;
    /* margin : 10px; */
    /* padding : 10px; */
    }
.eng {
    font-family : 'poppins', sans-serif;			
    }
.exam2 {
    display : block;
    font-family : 'Noto Sans KR', sans-serif;
    background-color : Cornsilk;
    color : FireBrick;
    border-radius : 7px;
    margin : 10px;
    padding : 10px;
    }
    
.exam2 ul li {
    margin : 0 0 10px 10px;
    padding : 5px 5px 5px 20px;
    border-left : 3px solid black;
    border-radius : 10px;
    
    }
    
.word_link:hover {
    background-color : Cyan;
    }

.border-round {
  border-radius : 7px;
  
}


/* modal */
.modal-header {
  display : block;  
}

.modal-header .row {
  display : block;
  text-align: left;
}

/* .modal-header .span {
  display : flex; 
  margin:auto; 
}

.modal-header .button {
  display : flex;
  margin-left:0;
} */

.input-group input {
  text-align: left;
  text-align-last: auto;
}